<div class="perfil">
  <img class="foto" src="assets/ft-perfil.jpg"/>
  <h2 class="nome">{{ nome }}</h2>
  <div id="contato" class="contato">
    <a href="https://github.com/gustacoosta" target="_blank">
      <img src="assets/logo-github.svg"/>
    </a>
    <a href="https://www.linkedin.com/in/gustacoosta/" target="_blank">
      <img src="assets/logo-linkedin.svg"/>
    </a>
    <a href="mailto:devcostaagustavo@gmail.com" target="_blank">
      <img src="assets/mail-outline.svg"/>
    </a>
  </div>
</div>